
:root{
    height: 100%;
    background-color: #0a192f;
    color: white;
    margin: 0;
    }

body{
    height: 100%;
    margin: 5px;
    font-family: "Oswald", sans-serif;
    background-color:#0a192f;
    
    }
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
}


#intro{
    margin-top: 50px;
    height: 20px;
    background-color: black;
    text-align: center;
    color: white;
    border-bottom: 1px solid green;
    }
.logo-title{
    margin-left: 50px;
    }
#box{
    
    display: flex;
    flex-direction: row;
    height: 100%;
    color: #fff;
}
.sides{
    display: flex;
    justify-content:right;
    writing-mode: vertical-rl;
    width: 10%;
    
    height: 100%;
}
.mid{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 80%;
    
    
}
table{
    table-layout: fixed;    
    width: 50%;
    height:50%;
    margin-left: ;
    border-left: 2px solid green;
}

td{
    height: 20px;
    text-align: center;
    overflow: hidden;
}
.tabs{
    width: 100%;
    height: 100%;
}

.used{
    box-shadow: green;
}
#tafura{
  text-align: center;
  padding-bottom: 100px;
}
hr{
    border: 1px solid green;
    width: .5px;
    height: 30%;
    
}